use flake

watch_file pyproject.toml
watch_file uv.lock

if [ ! -d .venv ]; then
  echo "Creating virtual environment..."
  uv venv || return 1
  uv sync || return 1
fi

export VIRTUAL_ENV="$PWD/.venv"
PATH_add "$VIRTUAL_ENV/bin"
